# -----------------------------
# MYSQL
# -----------------------------
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=

# -----------------------------
# GRAFANA
# -----------------------------
GRAFANA_USER=
GRAFANA_PASSWORD=

# -----------------------------
# IMAGE VERSIONS
# -----------------------------
NGINX_VERSION=
MYSQL_VERSION=
REDIS_VERSION=

PROMETHEUS_VERSION=
GRAFANA_VERSION=
CADVISOR_VERSION=
K6_VERSION=

REDIS_EXPORTER=
MYSQL_EXPORTER=