# -----------------------------
# General
# -----------------------------
UID=1000
GID=1000
NGINX_VERSION=1.27-alpine
PROMETHEUS_VERSION=v3.0.1
CADVISOR_VERSION=v0.49.1

# -----------------------------
# MYSQL
# -----------------------------
MYSQL_DATABASE=wetube_db
MYSQL_ROOT_PASSWORD=root
MYSQL_VERSION=8.4
MYSQL_EXPORTER_VERSION=v0.16.0

# -----------------------------
# GRAFANA
# -----------------------------
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_VERSION=11.4.0

# -----------------------------
# REDIS
# -----------------------------
REDIS_VERSION=7.4-alpine
REDIS_EXPORTER_VERSION=v1.66.0

# -----------------------------
# K6
# -----------------------------
K6_VERSION=0.55.0
K6_BASE_URL=http://nginx:80

# -----------------------------
# Influxdb
# -----------------------------
INFLUXDB_DB=wetube_k6
INFLUXDB_VERSION=1.8-alpine
INFLUXDB_PORT=8086
INFLUX_URL=http://influxdb:8086/wetube_k6
