# -----------------------------
# General
# -----------------------------
UID=
GID=
NGINX_VERSION=
PROMETHEUS_VERSION=
CADVISOR_VERSION=

# -----------------------------
# MYSQL
# -----------------------------
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_VERSION=
MYSQL_EXPORTER_VERSION=

# -----------------------------
# GRAFANA
# -----------------------------
GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_VERSION=

# -----------------------------
# REDIS
# -----------------------------
REDIS_VERSION=
REDIS_EXPORTER_VERSION=

# -----------------------------
# K6
# -----------------------------
K6_VERSION=
K6_BASE_URL=

# -----------------------------
# Influxdb
# -----------------------------
INFLUXDB_DB=
INFLUXDB_VERSION=
INFLUXDB_PORT=