### App
APP_NAME=Wetube
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
VITE_APP_NAME="${APP_NAME}"

### Lang
APP_LOCALE=ar
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

### Log
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

### General
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
APP_MAINTENANCE_DRIVER=file
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
VIDEOS_PER_PAGE=10

### Cache
CACHE_STORE=redis
REDIS_CACHE_CONNECTION=cache
REDIS_CACHE_DB=1
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=wetube-
CACHE_PREFIX=wetube

### Queue
QUEUE_CONNECTION=redis
REDIS_QUEUE_CONNECTION=default
REDIS_DB=0
REDIS_QUEUE_RETRY_AFTER=3600
FFMPEG_THREADS=2

### Session
SESSION_DRIVER=redis
SESSION_STORE=redis_sessions
SESSION_LIFETIME=120
SESSION_PREFIX=session-
REDIS_SESSION_CONNECTION=default
REDIS_SESSION_LOCK_CONNECTION=default
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

### DB
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=wetube_db
DB_USERNAME=root
DB_PASSWORD=root

### Mail
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=technitaq@gmail.com
MAIL_PASSWORD=lbggnlxaupoklvjd
MAIL_FROM_ADDRESS="technitaq@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

### AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

### Cloud Storage
CLOUDINARY_IMAGE_UPLOAD_PRESET=
CLOUDINARY_VIDEO_UPLOAD_PRESET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
CLOUDINARY_SECURE=true

### AI Moderation technitaq
HUGGING_FACE_API_KEY=
HUGGING_FACE_BASE_URL=https://router.huggingface.co/hf-inference/models
HUGGING_FACE_IMAGE_NSFW_THRESHOLD=0.35
HUGGING_FACE_TEXT_TOXIC_THRESHOLD=0.85
HUGGING_FACE_TEXT_THREAT_THRESHOLD=0.85
HUGGING_FACE_TEXT_IDENTITY_HATE_THRESHOLD=0.85
HUGGING_FACE_TEXT_OBSCENE_THRESHOLD=0.85
HUGGING_FACE_TEXT_INSULT_THRESHOLD=0.85

# Prometheus
PROMETHEUS_COLLECTOR_QUEUE_ENABLED=true
PROMETHEUS_COLLECTOR_HTTP_ENABLED=true
PROMETHEUS_COLLECTOR_DATABASE_ENABLED=true
PROMETHEUS_COLLECTOR_CACHE_ENABLED=true
PROMETHEUS_COLLECTOR_ERROR_ENABLED=true
